{% extends "base.html" %}

{% block title %}Hello - {% endblock title %}
{% block content %}
    {% if qs %}
        {% for obj in qs %}
            <div class="card mb-2" style="width:100%">
                <div class="card-body">
                    <h5 class="card-title">{{obj.number}} - {{obj.receiver.name}}</h5>
                    <div class="card-text">{{obj.completion_date}}</div>
                    <div class="text-muted">{{obj.total_amount}}</div>
                    <div class="mt-2">
                        <a href="#" class="btn btn-primary">Details</a>
                        <a href="#" class="btn btn-info">Update</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h3>No invoices created here yet ... </h3>
    {% endif %}
{% endblock content %}
